<div class="row g-0 mx-0">
  <div class="col-md-4 bg-img">
    <div class="left-side">
      <div class="d-flex justify-content-start pt-5 ps-5">
        <div class="pt-3">
          <img
            class="glamera-logo"
            src="/assets/images/glamera-logo.svg"
            alt="glamera-logo"
          />
        </div>
      </div>
      <div class="ps-5 glamera-text">
        <h2 class="glamera-title">
          Few clicks away from creating your business
        </h2>
        <p class="glamera-discription pt-3">
          Start your business in minutes. save time and money
        </p>
      </div>
    </div>
  </div>

  <div class="col sign-up">
    <div class="container">
      <div class="row g-2 pt-5 px-5">
        <div class="col-md-12 justify-content-end align-items-center text-end">
          <p class="having-troubles">
            Having troubles?
            <a href="#" class="get-help text-decoration-none">Get Help</a>
          </p>
        </div>
        <div class="col-md-12">
          <div class="d-flex justify-content-start">
            <i class="bi bi-arrow-left"></i>
          </div>
          <h1 class="sign-up-title pt-3">Choose the type of business</h1>
          <p class="sign-up-description pt-2">
            To get start tell us what type of Business you are going to
            incorporate and name
          </p>
        </div>
        <div class="col-md-12 pt-2">
          <form class="row g-3">
            <div class="col-md-12">
              <label for="BusinessType" class="form-label">Business Type</label>
              <input
                type="text"
                class="form-control"
                id="BusinessType"
                placeholder="Enter your business type"
              />
            </div>
            <div class="col-md-12">
              <label for="BusinessType2" class="form-label"
                >Business Type</label
              >
              <div class="row justify-content-center align-items-center g-2">
                <div class="col-md-3">
                  <input
                    type="radio"
                    class="btn-check"
                    id="btn-check-1-outlined"
                    autocomplete="off"
                  />
                  <label
                    class="btn btn-outline-secondary radio-input"
                    for="btn-check-1-outlined"
                  >
                    <img
                      src="/assets/images/Salon-icon.png"
                      alt="Salon-icon"
                      width="20"
                    />
                    Salon</label
                  >
                </div>
                <div class="col-md-3">
                  <input
                    type="radio"
                    class="btn-check"
                    id="btn-check-2-outlined"
                    autocomplete="off"
                  />
                  <label
                    class="btn btn-outline-secondary radio-input"
                    for="btn-check-2-outlined"
                  >
                    <img
                      src="/assets/images/Gym-icon.png"
                      alt="Gym-icon"
                      width="20"
                    />
                    Gym</label
                  >
                </div>
                <div class="col-md-3">
                  <input
                    type="radio"
                    class="btn-check"
                    id="btn-check-3-outlined"
                    autocomplete="off"
                  />
                  <label
                    class="btn btn-outline-secondary radio-input"
                    for="btn-check-3-outlined"
                  >
                    <img
                      src="/assets/images/Spa-icon.png"
                      alt="Spa-icon"
                      width="20"
                    />
                    Spa</label
                  >
                </div>
                <div class="col-md-3">
                  <input
                    type="radio"
                    class="btn-check"
                    id="btn-check-4-outlined"
                    autocomplete="off"
                  />
                  <label
                    class="btn btn-outline-secondary radio-input"
                    for="btn-check-4-outlined"
                  >
                    <img
                      src="/assets/images/Clinic-icon.png"
                      alt="Clinic-icon"
                      width="20"
                    />
                    Clinic</label
                  >
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <label for="EmailAddress" class="form-label">Governorate</label>
              <select class="form-select">
                <option selected disabled>Select Governorate</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="EmailAddress" class="form-label">District</label>
              <select class="form-select" aria-label="Default select example">
                <option selected disabled>Select district</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="EmailAddress" class="form-label"
                >How did you know us?</label
              >
              <select class="form-select" aria-label="Default select example">
                <option selected disabled>select one</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="inputPassword4" class="form-label"
                >Are you currently using system ?</label
              >
              <div class="row justify-content-center align-items-center g-2">
                <div class="col">
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="flexRadioDefault"
                      id="flexRadioDefault1"
                    />
                    <label class="form-check-label" for="flexRadioDefault1">
                      Yes
                    </label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="flexRadioDefault"
                      id="flexRadioDefault2"
                      checked
                    />
                    <label class="form-check-label" for="flexRadioDefault2">
                      No
                    </label>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-12 d-flex justify-content-end">
              <button type="button" class="btn btn-primary next-btn">
                <span class="contain-btn-next">
                  <span>CREATE ACCOUNT</span>

                  <i class="bi bi-arrow-right"></i>
                </span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
