.final-registration {
  background: #f5f6f9 0% 0% no-repeat padding-box;
  height: 100vh;
  .title {
    font: normal normal 600 24px/24px Poppins;
    color: #454c66;
  }
  .description {
    font: normal normal normal 16px/28px Poppins;
    letter-spacing: 0px;
    color: #747a88;
  }
}
