<div class="container-fluid final-registration">
  <div class="row justify-content-center align-items-center g-2 h-50">
    <lottie-player
      src="/assets/animations/registration-success.json"
      background="transparent"
      speed="1"
      style="height: 240px"
      autoplay
    ></lottie-player>
  </div>
  <div class="row justify-content-center align-items-center g-2">
    <div class="col-md-12 text-center">
      <h2 class="title">Successfully</h2>
      <p class="description">
        Your account successfully created Just few steps more to setup your
        business account
      </p>
    </div>
  </div>
</div>
